@page
@model sql_web_app.Models.Clients.ClientModel
@{
    ViewData["Title"] = "Панель управления";
    ViewData["Subtitle"] = "Пользователи";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
	    	<div class="card">
	    		<div class="card-header">
	    			<div class="d-flex align-items-center justify-content-between">
	          	        <h3 class="card-title">Клиенты</h3>
                        <a href="/Clients/Create" class="btn btn-block btn-outline-primary col-1">Добавить</a>
    				</div>
                </div>
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Email</th>
                                <th>Полное имя</th>
                                <th>Пароль</th>
                                <th>Местоположение</th>
                                <th>Редактировать</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (string[] item in Model.Rows)
                            {
                                <tr>
                                <td>@item[0]</td>
                                <td>@item[1]</td>
                                <td>@item[2]</td>
                                <td>@item[3]</td>
                                <td>@item[4]</td>
                                <td>
                                    <a href="/Clients/Edit/@item[0]"><button type="button" class="btn btn-block btn-default"><i class="fas fa-edit"></i></button></a>
                                    <!--<button type="button" class="btn btn-block btn-default"><i class="fas fa-edit"></i></button>-->
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
	    	</div>
	    </div>
	</div>
</div>